@accentColor: #3DBF52;
@accentDarkColor: #3DA64E;

@baseColor: #929d9e;
@baseDarkColor: #413951;

@secondColor: #F4BC7F;
@secondDarkColor: #9566F2;

@gradientRed: #e91e63;
@gradientBlue: #5d02ff;
@gradientGreen: #89ff00;
@gradientSkyBlue: #00bcd4;

@textActive: #ccc;
@textDark: #000;
@textDisabled: #555;
@textMain: #fff;
