@import '../../styles/constants';

.Progress {
    padding: 5px 30px;
    position: relative;

    &--circular {
        padding: 0;
    }

    &__circle {
        //height: 114px;
        //width: 114px;

        &-line,
        &-status {
            fill: none;
        }

        &-line {
            stroke: @textMain;
        }

        &-status {
            stroke: @secondColor;
            stroke-linecap: round;
            stroke-linejoin: round;
        }

        &-text {
            fill: @textMain;
        }

        &--dark {
            & .Progress__circle-status {
                stroke: @secondDarkColor;
            }
        }
    }

    &__title {
        font-size: 16px;
    }

    &__line {
        height: 2px;
        position: relative;
    }

    &__status {
        background-color: #3a33d1;
        height: 2px;
        left: 0;
        position: absolute;
        text-align: right;
        top: 0;
        transition: width 0.5s, background-color 0.5s;
        vertical-align: middle;

        &--blue {
            background-color: #0af;
        }

        &--crimson {
            background-color: crimson;
        }

        &--green {
            background-color: #30bf6e;
        }

        &--yellow {
            background-color: #ffef00;
        }
    }
}
