.Progress {
    padding: 5px 30px;
    position: relative;

    &--circular {
        height: 114px;
        padding: 0;
        width: 114px;
    }

    &__circle {
        height: 114px;
        width: 114px;

        &-line {
            fill: none;
            stroke: #343035;
            stroke-width: 10px;
        }

        &-status {
            fill: none;
            stroke: #ffef00;
            stroke-dasharray: 326.56;
            //stroke-dashoffset: 60;
            stroke-linecap: round;
            stroke-width: 10px;
            transform: rotate(-90deg);
            transform-origin: 50% 50%;
            transition: stroke-dashoffset 0.5s;
        }
    }

    &__title {
        font-size: 16px;

        &--circular {
            font-size: 24px;
            font-weight: 400;
            line-height: 22px;
            position: absolute;
            text-align: center;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
        }
    }

    &__line {
        height: 2px;
        position: relative;
    }

    &__status {
        background-color: #3a33d1;
        height: 2px;
        left: 0;
        position: absolute;
        text-align: right;
        top: 0;
        transition: width 0.5s, background-color 0.5s;
        vertical-align: middle;

        &--blue {
            background-color: #0af;
        }

        &--crimson {
            background-color: crimson;
        }

        &--green {
            background-color: #30bf6e;
        }

        &--yellow {
            background-color: #ffef00;
        }
    }
}
