@import '../../styles/constants';

@ClassName: Drop-down-panel;

.@{ClassName} {
    border: 1px solid @secondColor;

    &--opened {
        & .@{ClassName}__details {
            height: auto;
            padding: 15px;
        }
    }

    &--dark {
        border: none;
    }

    &--empty {
        border: none;
    }

    &__summary {
        align-items: center;
        background-color: @secondColor;
        color: @textActive;
        display: flex;
        justify-content: flex-start;
        outline: none;
        padding: 15px;

        &--clickable {
            cursor: pointer;
        }

        &--dark {
            background-color: @secondDarkColor;
            color: @textMain;
        }

        &--empty,
        &--only-border {
            background: none;
            color: @textMain;
        }

        &-action {
            margin-left: auto;
            padding-left: 15px;
        }

        &-icon {
            margin-right: 15px;
        }
    }

    &__details {
        background-color: @textMain;
        box-sizing: border-box;
        color: @textActive;
        height: 0;
        overflow: hidden;
        padding: 0 15px;
        transition: height 0.5s, padding 0.5s;
    }
}
