@import '../../styles/constants';

@ClassName: Drop-down-panel;

.@{ClassName} {
    border: 1px solid @secondColor;

    &--opened {
        & .@{ClassName}__details {
            height: auto;
        }
    }

    &--dark {
        border: none;

        & .@{ClassName}__summary {
            background-color: @secondDarkColor;
            color: @textMain;

            &--clickable {
                &:hover,
                &:focus {
                    background-color: darken(@secondDarkColor, 10%);
                }
            }
        }
    }

    &--empty {
        border: none;

        & .@{ClassName}__summary {
            &--clickable {
                &:hover,
                &:focus {
                    background: none;
                    color: @secondColor;
                }
            }
        }
    }

    &--empty,
    &--only-border {
        & .@{ClassName}__summary,
        & .@{ClassName}__details {
            background: none;
            color: @textMain;
        }
    }

    &--only-border {
        & .@{ClassName}__summary {
            &--clickable {
                &:hover,
                &:focus {
                    background: rgba(@textMain, 0.1);
                }
            }
        }
    }

    &__summary {
        align-items: center;
        background-color: @secondColor;
        border-bottom: 1px solid rgba(@secondColor, 0);
        color: @baseDarkColor;
        display: flex;
        justify-content: flex-start;
        outline: none;
        padding: 15px;
        transition: background-color 0.3s, color 0.3s, border 0.5s ease-in;

        &--clickable {
            cursor: pointer;

            &:hover,
            &:focus {
                background-color: darken(@secondColor, 15%);
                color: @textMain;
            }
        }

        &--opened {
            border-bottom: 1px solid @secondColor;
            transition: border 0.1s ease-out;
        }

        &-action {
            margin-left: auto;
            padding-left: 15px;
        }

        &-icon {
            margin-right: 15px;
        }
    }

    &__details {
        background-color: @textMain;
        box-sizing: border-box;
        color: @textActive;
        height: 0;
        overflow: hidden;
        transition: height 0.5s;
    }
}
