@className: Checkbox;

.@{className} {
    align-items: center;
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    display: inline-flex;
    height: 18px;
    justify-content: center;
    outline: none;
    overflow: hidden;
    transition: border-color 0.3s;
    width: 18px;

    &--focused,
    &:hover,
    &:focus {
        border-color: #f3e367;
    }

    &--checked {
        background-color: #f3e367;
        border-color: #f3e367;

        &--focused,
        &:hover,
        &:focus {
            border-color: #000;
        }

        &:disabled {
            border-color: #000;
        }
    }

    &--disabled,
    &:disabled {
        background-color: #ccc;
        border-color: #000;
        cursor: default;

        &--focused,
        &:hover,
        &:focus {
            border-color: #000;
        }

        & .@{className}__icon {
            color: #7f8688;
        }
    }

    &__input {
        height: 0;
        margin: 0;
        opacity: 0;
        padding: 0;
        position: absolute;
        width: 0;
    }

    &__icon {
        align-items: center;
        display: flex;
        justify-content: center;
    }
}
