@import '../../styles/constants';

.Anchor {
    color: inherit;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    transition: color 0.3s;

    &:hover,
    &:focus {
        color: @secondDarkColor;
    }

    &--active {
        color: @accentDarkColor;

        &:disabled {
            color: @textDisabled;
        }
    }

    &--disabled,
    &:disabled {
        color: @textDisabled;
        cursor: default;

        &:focus,
        &:hover {
            color: @textDisabled;
        }
    }
}
