.Anchor {
    color: #000;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
        color: #929d9e;
    }

    &:focus {
        color: #7f8688;
    }

    &--active {
        color: #000;
    }

    &--disabled,
    &:disabled {
        cursor: default;

        &:hover {
            color: #000;
        }
    }
}
