.Button-group {
    display: inline-block;

    &__item {
        display: inline-block;

        &--separator {
            &-medium {
                margin-right: 16px;
            }

            &-small {
                margin-right: 8px;
            }
        }
    }
}
