.Button-group {
    display: inline-block;

    &__separator {
        display: inline-block;

        &--medium {
            width: 16px;
        }

        &--small {
            width: 8px;
        }
    }
}
