.Button-group {
    display: inline-flex;
    flex-wrap: nowrap;

    &__item {
        &--separator {
            &-medium {
                margin-left: 16px;
            }

            &-small {
                margin-left: 8px;
            }
        }
    }
}
