.SideBar {
    overflow: hidden;
    padding: 15px 0;
    text-align: left;

    &__scroll-wrapper {
        max-height: 100%;
        overflow-y: scroll;
        width: calc(100% + 20px);
    }

    &__link {
        text-align: center;
    }

    &__menu {
        margin-top: 20px;
    }

    &__toggle {
        margin-top: 20px;
    }
}
