.Page {
    background: #413951;
    background: linear-gradient(145deg, #413951 0%, #201c29 100%);
    color: #fff;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    height: 100vh;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}

.Page__app-container {
    text-align: center;
}
